<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


<div class="container text-center">
  <h1>_________________</h1>
  <h1>About this password generator: </h1>

  <h2>It generates passwords of your choice with lower and uppercase, numbers, and special characters, min length being 6, max length at 18 characters long, or even 44!</h2>

  <hr>
  <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
</div>